@charset "UTF-8";

@font-face {
  font-family: "DS-Digital";
  src: url("./fonts/DS-DIGI.TTF") format("opentype");
}

:root {
  --fontePadrao: "DS-Digital", cursive;
}

* {
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

/* Title */
h1, p, footer {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 70px;
  font-size: 3em;
}

p {
  font-size: 13px;
}

/* Stopwatch */
#stopwatch p, #alarm p {
  font-size: 60px;
  margin: 30px;
  color: white;
}

label {
  font-family: var(--fontePadrao);
  font-size: 2em;
}

#milisec, #ampmAlarm {
  font-size: 1em;
  color: rgb(255, 0, 212);
}


/* Alarm */
.dateAlarm {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}



/* Buttons */

/* Buttons - Main */
#alarmPage, #stopwatchPage {
  margin-top: 30px;
  background-color: pink;
  color: black;
  font-weight: bold;
  border: 2px solid rgb(250, 0, 196);
}

#alarmPage a, #stopwatchPage a {
  text-decoration: none;
  color: black;
}

#alarmPage:hover, #stopwatchPage:hover {
  border: 2px solid pink;
  background-color: rgb(250, 0, 196);
  color: white;
}

#alarmPage a:hover, #stopwatchPage a:hover {
  text-decoration: none;
  background-color: rgb(250, 0, 196);
  color: white;
}

#btnAlarm {
  color: black;
  margin-left: 20px;
}

#btnAlarm:hover {
  color: black;
  background-color: lightgray;
  border: 2px solid rgb(250, 0, 196);
  margin-left: 20px;
}


/* Buttons - Stopwatch */
button {
  padding: 10px;
  margin: 5px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

abbr {
  text-decoration: none;
}

#start {
  background-color: green;
}

#start:hover {
  background-color: rgb(1, 102, 1);
  transition: background 0.4s;
}

#pause {
  background-color: red;
}

#pause:hover {
  background-color: rgb(190, 0, 0);
  transition: background 0.4s;
}

#reset {
  background-color: gray;
}

#reset:hover {
  background-color: rgb(94, 93, 93);
  transition: background 0.4s;
}


/* Change idiom */
#changeLanguage {
  margin-top: 20px;
  max-width: 50px;
}


/* Footer */
footer {
  position: absolute;
  background-color: rgb(209, 207, 207);
  color: black;
  font-style: italic;
  font-weight: bolder;
  bottom: 0;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
}
